In [1]:
import pandas as pd

## Load the Data:

In [2]:
df = pd.read_csv('data/uber_data.csv')

In [3]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,1,2016-03-01 00:00:00,2016-03-01 00:07:55,1,2.50,-73.976746,40.765152,1,N,-74.004265,40.746128,1,9.0,0.5,0.5,2.05,0.00,0.3,12.35
1,1,2016-03-01 00:00:00,2016-03-01 00:11:06,1,2.90,-73.983482,40.767925,1,N,-74.005943,40.733166,1,11.0,0.5,0.5,3.05,0.00,0.3,15.35
2,2,2016-03-01 00:00:00,2016-03-01 00:31:06,2,19.98,-73.782021,40.644810,1,N,-73.974541,40.675770,1,54.5,0.5,0.5,8.00,0.00,0.3,63.80
3,2,2016-03-01 00:00:00,2016-03-01 00:00:00,3,10.78,-73.863419,40.769814,1,N,-73.969650,40.757767,1,31.5,0.0,0.5,3.78,5.54,0.3,41.62
4,2,2016-03-01 00:00:00,2016-03-01 00:00:00,5,30.43,-73.971741,40.792183,3,N,-74.177170,40.695053,1,98.0,0.0,0.0,0.00,15.50,0.3,113.80

## Clean the Data

#### null values

In [4]:
df.isnull().sum()

VendorID                 0
tpep_pickup_datetime     0
tpep_dropoff_datetime    0
passenger_count          0
trip_distance            0
pickup_longitude         0
pickup_latitude          0
RatecodeID               0
store_and_fwd_flag       0
dropoff_longitude        0
dropoff_latitude         0
payment_type             0
fare_amount              0
extra                    0
mta_tax                  0
tip_amount               0
tolls_amount             0
improvement_surcharge    0
total_amount             0
dtype: int64

In [5]:
df.shape

(100000, 19)

#### the type of each columns

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 19 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               100000 non-null  int64
 1   tpep_pickup_datetime   100000 non-null  object
 2   tpep_dropoff_datetime  100000 non-null  object
 3   passenger_count        100000 non-null  int64
 4   trip_distance          100000 non-null  float64
 5   pickup_longitude       100000 non-null  float64
 6   pickup_latitude        100000 non-null  float64
 7   RatecodeID             100000 non-null  int64
 8   store_and_fwd_flag     100000 non-null  object
 9   dropoff_longitude      100000 non-null  float64
 10  dropoff_latitude       100000 non-null  float64
 11  payment_type           100000 non-null  int64
 12  fare_amount            100000 non-null  float64
 13  extra                  100000 non-null  float64
 14  mta_tax                100000 non-null  float64
 15  tip_amount             100000 non-null  float64
 16  tolls_amount           100000 non-null  float64
 17  improvement_surcharge  100000 non-null  float64
 18  total_amount           100000 non-null  float64
dtypes: float64(12), int64(4), object(3)
memory usage: 14.5+ MB

In [7]:
df.describe(include="all")

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
count,100000.00000,100000,100000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
unique,NaN,38332,39981,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,2016-03-10 09:35:06,2016-03-11 00:00:00,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,14,18,NaN,NaN,NaN,NaN,NaN,99876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,1.88327,NaN,NaN,1.929170,3.034270,-73.288983,40.375220,1.040120,NaN,-73.312418,40.388064,1.337770,13.252608,0.101695,0.497000,1.872531,0.367414,0.299496,16.390721
std,0.32110,NaN,NaN,1.589408,3.846951,7.089652,3.901413,0.284238,NaN,6.964171,3.833974,0.481356,11.685574,0.202166,0.042673,2.618611,1.527758,0.016642,14.437180
min,1.00000,NaN,NaN,0.000000,0.000000,-121.933327,0.000000,1.000000,NaN,-121.933327,0.000000,1.000000,-47.000000,-0.500000,-0.500000,-2.700000,0.000000,-0.300000,-47.300000
25%,2.00000,NaN,NaN,1.000000,0.990000,-73.990959,40.738891,1.000000,NaN,-73.990547,40.738541,1.000000,6.500000,0.000000,0.500000,0.000000,0.000000,0.300000,8.300000
50%,2.00000,NaN,NaN,1.000000,1.670000,-73.980202,40.755299,1.000000,NaN,-73.978416,40.755079,1.000000,9.500000,0.000000,0.500000,1.360000,0.000000,0.300000,11.800000
75%,2.00000,NaN,NaN,2.000000,3.200000,-73.964203,40.769021,1.000000,NaN,-73.962090,40.767910,2.000000,15.000000,0.000000,0.500000,2.460000,0.000000,0.300000,18.300000
max,2.00000,NaN,NaN,6.000000,184.400000,0.000000,41.204548,6.000000,NaN,0.000000,42.666893,4.000000,819.500000,4.500000,0.500000,125.880000,25.540000,0.300000,832.800000

#### check duplicated

In [8]:
df.duplicated().sum()

np.int64(0)

In [9]:
df.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'pickup_longitude',
       'pickup_latitude', 'RatecodeID', 'store_and_fwd_flag',
       'dropoff_longitude', 'dropoff_latitude', 'payment_type', 'fare_amount',
       'extra', 'mta_tax', 'tip_amount', 'tolls_amount',
       'improvement_surcharge', 'total_amount'],
      dtype='object')

#### the trip that has 0 passengers

In [10]:
count_zero = (df["passenger_count"] == 0).sum()
print(count_zero)

3

#### remove this 3 trips that has 0 passengers

In [11]:
df = df[df["passenger_count"] > 0]

In [12]:
print((df["passenger_count"] == 0).sum())

0

#### the trip distance that has 0

In [13]:
count_zero_distance = (df["trip_distance"] == 0).sum()

In [14]:
print(count_zero_distance)

582

#### The "Divide by Zero" Crash: Later in your dashboard, i will likely want to calculate "Average Cost per Mile" or "Average Speed"

In [15]:
df = df[df["trip_distance"] > 0]

In [16]:
print((df['trip_distance'] == 0 ).sum())

0

#### amount negative or zero

In [17]:
count_negative_amount = (df["total_amount"] <= 0).sum()

In [18]:
print(count_negative_amount)

52

In [19]:
# Filter to keep only trips with positive total amounts
df = df[df['total_amount'] > 0]

print((df['total_amount'] <= 0).sum())

0

#### converting the date to date time pd

In [20]:
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])

In [21]:
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 99363 entries, 0 to 99999
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               99363 non-null  int64
 1   tpep_pickup_datetime   99363 non-null  datetime64[ns]
 2   tpep_dropoff_datetime  99363 non-null  datetime64[ns]
 3   passenger_count        99363 non-null  int64
 4   trip_distance          99363 non-null  float64
 5   pickup_longitude       99363 non-null  float64
 6   pickup_latitude        99363 non-null  float64
 7   RatecodeID             99363 non-null  int64
 8   store_and_fwd_flag     99363 non-null  object
 9   dropoff_longitude      99363 non-null  float64
 10  dropoff_latitude       99363 non-null  float64
 11  payment_type           99363 non-null  int64
 12  fare_amount            99363 non-null  float64
 13  extra                  99363 non-null  float64
 14  mta_tax                99363 non-null  float64
 15  tip_amount             99363 non-null  float64
 16  tolls_amount           99363 non-null  float64
 17  improvement_surcharge  99363 non-null  float64
 18  total_amount           99363 non-null  float64
dtypes: datetime64[ns](2), float64(12), int64(4), object(1)
memory usage: 15.2+ MB

#### reset the index to give it to trip id because i have removed rows

In [23]:
df = df.reset_index(drop=True)

In [24]:
df['trip_id']= df.index

In [25]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,trip_id
0,1,2016-03-01,2016-03-01 00:07:55,1,2.50,-73.976746,40.765152,1,N,-74.004265,40.746128,1,9.0,0.5,0.5,2.05,0.00,0.3,12.35,0
1,1,2016-03-01,2016-03-01 00:11:06,1,2.90,-73.983482,40.767925,1,N,-74.005943,40.733166,1,11.0,0.5,0.5,3.05,0.00,0.3,15.35,1
2,2,2016-03-01,2016-03-01 00:31:06,2,19.98,-73.782021,40.644810,1,N,-73.974541,40.675770,1,54.5,0.5,0.5,8.00,0.00,0.3,63.80,2
3,2,2016-03-01,2016-03-01 00:00:00,3,10.78,-73.863419,40.769814,1,N,-73.969650,40.757767,1,31.5,0.0,0.5,3.78,5.54,0.3,41.62,3
4,2,2016-03-01,2016-03-01 00:00:00,5,30.43,-73.971741,40.792183,3,N,-74.177170,40.695053,1,98.0,0.0,0.0,0.00,15.50,0.3,113.80,4

In [26]:
col = "trip_id"
df = df[[col] + [c for c in df.columns if c != col]]

In [27]:
df.head()

,trip_id,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,0,1,2016-03-01,2016-03-01 00:07:55,1,2.50,-73.976746,40.765152,1,N,-74.004265,40.746128,1,9.0,0.5,0.5,2.05,0.00,0.3,12.35
1,1,1,2016-03-01,2016-03-01 00:11:06,1,2.90,-73.983482,40.767925,1,N,-74.005943,40.733166,1,11.0,0.5,0.5,3.05,0.00,0.3,15.35
2,2,2,2016-03-01,2016-03-01 00:31:06,2,19.98,-73.782021,40.644810,1,N,-73.974541,40.675770,1,54.5,0.5,0.5,8.00,0.00,0.3,63.80
3,3,2,2016-03-01,2016-03-01 00:00:00,3,10.78,-73.863419,40.769814,1,N,-73.969650,40.757767,1,31.5,0.0,0.5,3.78,5.54,0.3,41.62
4,4,2,2016-03-01,2016-03-01 00:00:00,5,30.43,-73.971741,40.792183,3,N,-74.177170,40.695053,1,98.0,0.0,0.0,0.00,15.50,0.3,113.80

## build the datetime_dim table

In [28]:
# 1. Select the columns
datetime_dim = df[['tpep_pickup_datetime', 'tpep_dropoff_datetime']]

# 2. Drop Duplicates FIRST to get unique combinations
datetime_dim = datetime_dim.drop_duplicates(subset=['tpep_pickup_datetime', 'tpep_dropoff_datetime'])

# 3. Reset Index AFTER to create a clean sequential ID (0, 1, 2, ...)
datetime_dim = datetime_dim.reset_index(drop=True)

# 4. Assign the index to be the Primary Key
datetime_dim['datetime_id'] = datetime_dim.index

# 5. Extract Pickup Features
datetime_dim['pick_hour'] = datetime_dim['tpep_pickup_datetime'].dt.hour
datetime_dim['pick_day'] = datetime_dim['tpep_pickup_datetime'].dt.day
datetime_dim['pick_month'] = datetime_dim['tpep_pickup_datetime'].dt.month
datetime_dim['pick_year'] = datetime_dim['tpep_pickup_datetime'].dt.year
datetime_dim['pick_weekday'] = datetime_dim['tpep_pickup_datetime'].dt.weekday

# 6. Extract Dropoff Features
datetime_dim['drop_hour'] = datetime_dim['tpep_dropoff_datetime'].dt.hour
datetime_dim['drop_day'] = datetime_dim['tpep_dropoff_datetime'].dt.day
datetime_dim['drop_month'] = datetime_dim['tpep_dropoff_datetime'].dt.month
datetime_dim['drop_year'] = datetime_dim['tpep_dropoff_datetime'].dt.year
datetime_dim['drop_weekday'] = datetime_dim['tpep_dropoff_datetime'].dt.weekday

# 7. Reorder columns
datetime_dim = datetime_dim[['datetime_id', 'tpep_pickup_datetime', 'pick_hour', 'pick_day', 'pick_month', 'pick_year', 'pick_weekday',
                             'tpep_dropoff_datetime', 'drop_hour', 'drop_day', 'drop_month', 'drop_year', 'drop_weekday']]

# Verify
datetime_dim.head()

,datetime_id,tpep_pickup_datetime,pick_hour,pick_day,pick_month,pick_year,pick_weekday,tpep_dropoff_datetime,drop_hour,drop_day,drop_month,drop_year,drop_weekday
0,0,2016-03-01 00:00:00,0,1,3,2016,1,2016-03-01 00:07:55,0,1,3,2016,1
1,1,2016-03-01 00:00:00,0,1,3,2016,1,2016-03-01 00:11:06,0,1,3,2016,1
2,2,2016-03-01 00:00:00,0,1,3,2016,1,2016-03-01 00:31:06,0,1,3,2016,1
3,3,2016-03-01 00:00:00,0,1,3,2016,1,2016-03-01 00:00:00,0,1,3,2016,1
4,4,2016-03-01 00:00:01,0,1,3,2016,1,2016-03-01 00:16:04,0,1,3,2016,1

## build the dim_rate_code and payments table

In [29]:
# --- 1. Define the Mapping Dictionaries ---
rate_code_type = {
    1: "Standard rate",
    2: "JFK",
    3: "Newark",
    4: "Nassau or Westchester",
    5: "Negotiated fare",
    6: "Group ride"
}

payment_type_name = {
    1: "Credit card",
    2: "Cash",
    3: "No charge",
    4: "Dispute",
    5: "Unknown",
    6: "Voided trip"
}

# --- 2. Build dim_rate_code ---
# Select and drop duplicates
rate_code_dim = df[['RatecodeID']].drop_duplicates().reset_index(drop=True)

# Create the Primary Key
rate_code_dim['rate_code_id'] = rate_code_dim.index

# Map the ID to the Name using the dictionary
rate_code_dim['rate_code_name'] = rate_code_dim['RatecodeID'].map(rate_code_type)

# Reorder columns
rate_code_dim = rate_code_dim[['rate_code_id', 'RatecodeID', 'rate_code_name']]

# --- 3. Build dim_payment_type ---
# Select and drop duplicates
payment_type_dim = df[['payment_type']].drop_duplicates().reset_index(drop=True)

# Create the Primary Key
payment_type_dim['payment_type_id'] = payment_type_dim.index

# Map the ID to the Name
payment_type_dim['payment_type_name'] = payment_type_dim['payment_type'].map(payment_type_name)

# Reorder columns
payment_type_dim = payment_type_dim[['payment_type_id', 'payment_type', 'payment_type_name']]

# --- 4. Verify ---
print("Rate Code Dimension:")
print(rate_code_dim.head())
print("\nPayment Type Dimension:")
print(payment_type_dim.head())

Rate Code Dimension:
   rate_code_id  RatecodeID         rate_code_name
0             0           1          Standard rate
1             1           3                 Newark
2             2           2                    JFK
3             3           5        Negotiated fare
4             4           4  Nassau or Westchester

Payment Type Dimension:
   payment_type_id  payment_type payment_type_name
0                0             1       Credit card
1                1             2              Cash
2                2             3         No charge
3                3             4           Dispute